@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
html, body {
  min-height:100vh;
}

body {
    background:#000;
    font-family: 'Maven Pro', sans-serif;
}

h1 {
  position:absolute;
  top:5%;
  text-align:left;
  color:#fff;
  width:100%;
  z-index:3;
  font-size:28px;
  margin-left:1em;
}

.sky {
  width: 100%;
  height: 90vh;
  background:#2771cc;
  position:relative;
  z-index:1;
}

.ground {
  width:100%;
  height:10vh;
  position: relative;
  z-index:3;
  background:#00a900;
}

.win {
  position:absolute;
  background:#000;
  display: none;
  width:100%;
  height:100%;
  text-align:center;
  z-index:5;
  top:0;
}

.win span {
  display: block;
  text-align:center;
  color:#fff;
  font-size:40px;
  margin-top:2em;
}

.win a {
  display: inline-block;
  color:#fff;
  border:2px solid #fff;
  border-radius:5px;
  padding:1em 3em;
  margin-top:1.5em;
  cursor:pointer;
}

.mel {
  background-image:url('http://justin.digital/mel.png');
 width: 75px;
 height: 120px;
 background-size: contain;
 position:absolute;
 top:-100px;
 left:10%;
 z-index:2;
 animation:fall infinite 4s;
 cursor:pointer
}
.mel:focus, .mel:active, .mel:hover {
  outline:none;
  -webkit-appearance: none;
}

.left-30 {
  left:30%;
  animation-delay:1s;
}

.left-50 {
  left:50%;
   animation-delay:.29s;
}

.left-85 {
  left:85%;
  animation-delay:3s;
}

@keyframes fall {
  0%{
    top:-30%;
  }
  
  100% {
    top:100%;
  }
}